/* General Styles */

body {
  background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  font-family: "Radio Canada", sans-serif;
  text-align: center;
}

/* Header Styles */

h1 {
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 50px;
}

/* Box Container Styles */

#box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 35px;
}

/* Row Styles */

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Button Styles */

.btn {
  border: 2px solid #000;
  border-radius: 5px;
  width: 75px;
  height: 75px;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);
  color: #333;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
}

.btn[disabled] {
  color: #000;
  cursor: not-allowed;
}

/* Result Container Styles */

.result-container {
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #000;
  text-align: center;
  max-width: 200px;
  margin: 20px auto;
  padding: 10px;
}

/* Result Styles */

.result {
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  font-size: 25px;
}

/* Reset Section Styles */

#reset-section {
  text-align: center;
}

/* Reset Button Styles */

/* Reset Button Styles */

#reset-button {
  border: 2px solid #000;
  border-radius: 5px;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff; /* Change background color to white */
  color: #000;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#reset-button:hover {
  background-color: #000; /* Change hover background color to black */
  color: #fff; /* Change hover text color to white */
  cursor: pointer;
}

